/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-seri;
}
/*
1. VỊ trí
2.kích thức
3.màu sắc
4.kiểu dáng
*/

#main{

}
#header{
    position: fixed;
    top : 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
    color: #fff;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display : block;
}

#nav > li:hover .subnav {
    display: inline-block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .search-btn:hover{
    cursor: pointer;  /* thay đổi hình trỏ chuột*/
    background-color: #f44336;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}





#slider{
    position: relative;
    margin-top: 46px ;
    padding-top: 50%;
    background:url("../anh/ny.jpg") top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heeding{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}



#content{

}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;   /* chữ nghiêng */
    opacity: 0.6;  /* làm mờ */
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;  /* căn lề */
    line-height: 1.4;  /* căn dòng */
}

#content .members-list{
    margin-top: 48px ;
}

#content .members-item{
    float: left;
    width: 33.333%;
    /*width: calc(100%/3);*/
    text-align: center;
}

#content .members-name{
    font-size: 15px;
}

#content .avt {
    width: 154px;
    margin-top: 15px ;
    border-radius: 4px;  /* độ cong của ảnh */
}

#footer{

}
